<!DOCTYPE html>
<html>
    <body bgcolor=#FFFF00>

        <center>
            <h1> QSAR PREDICTION </h1><br>

            <form method="POST",action="{{url_for('home')}}">
                <b> SpMax_L : <input type="text",name='a', placeholder="enter 1"> <br><br>
                    J_Dz_e : <input type="text",name='b', placeholder="enter 1"> <br><br>
                    nHM : <input type="text",name='c', placeholder="enter 1"> <br><br>
                    F01_NN :<input type="text",name='d', placeholder="enter 1"> <br><br>
                    F04_CN :<input type="text",name='e', placeholder="enter 1"> <br><br>
                    NssssC :<input type="text",name='f', placeholder="enter 1"> <br><br>
                    nCb : <input type="text",name='g', placeholder="enter 1"> <br><br>
                    C% : <input type="text",name='h', placeholder="enter 1"> <br><br>
                    nCp :<input type="text",name='i', placeholder="enter 1"> <br><br>
                    nO  :<input type="text",name='j', placeholder="enter 1"> <br><br>
                    F03_CN  :<input type="text",name='k', placeholder="enter 1"> <br><br>
                    SdssC :<input type="text",name='l', placeholder="enter 1"> <br><br>
                    HyWi_Bm  :<input type="text",name='m', placeholder="enter 1"> <br><br>
                    LOC  :<input type="text",name='n', placeholder="enter 1"> <br><br>
                    SM6_L  :<input type="text",name='o', placeholder="enter 1"> <br><br>
                    F03_CO  :<input type="text",name='p', placeholder="enter 1"> <br><br>
                    Me :<input type="text",name='q', placeholder="enter 1"> <br><br>
                    Mi :<input type="text",name='r', placeholder="enter 1"> <br><br>
                    nNN :<input type="text",name='s', placeholder="enter 1"> <br><br>
                    nArNO2 :<input type="text",name='t', placeholder="enter 1"> <br><br>
                    nCRX3 :<input type="text",name='u', placeholder="enter 1"> <br><br>
                    SpPosA_Bp :<input type="text",name='v', placeholder="enter 1"> <br><br>
                    nCIR  :<input type="text",name='w', placeholder="enter 1"> <br><br>
                    B01C_Br  :<input type="text",name='x', placeholder="enter 1"> <br><br>
                    B03_CCl  :<input type="text",name='y', placeholder="enter 1"> <br><br>
                    N_073  :<input type="text",name='z', placeholder="enter 1"> <br><br>
                    SpMax_A  :<input type="text",name='A1', placeholder="enter 1"> <br><br>
                    Psi_i_1d  :<input type="text",name='A2', placeholder="enter 1"> <br><br>
                    B04_CBr  :<input type="text",name='A3', placeholder="enter 1"> <br><br>
                    SdO  :<input type="text",name='A4', placeholder="enter 1"> <br><br>
                    TI2_L :<input type="text",name='A5', placeholder="enter 1"> <br><br>
                    nCrt  :<input type="text",name='A6', placeholder="enter 1"> <br><br>
                    C_026   :<input type="text",name='A7', placeholder="enter 1"> <br><br>
                    F02_CN  :<input type="text",name='A8', placeholder="enter 1"> <br><br>
                    nHDon   :<input type="text",name='A9', placeholder="enter 1"> <br><br>
                    SpMax_B_m   :<input type="text",name='A10', placeholder="enter 1"> <br><br>
                    Psi_i_A  :<input type="text",name='A11', placeholder="enter 1"> <br><br>
                    nN  :<input type="text",name='A12', placeholder="enter 1"> <br><br>
                    SM6_Bm  :<input type="text",name='A13', placeholder="enter 1"> <br><br>
                    nArCOOR   :<input type="text",name='A14', placeholder="enter 1"> <br><br>
                    nX   :<input type="text",name='A15', placeholder="enter 1"> <br><br></b>
                    <input type ="submit", value="predict">
            </form>


            <img src='static\image.jpeg' alt="molecule">
        </center>

    </body>

</html>